@using System.Web.Optimization

<!DOCTYPE html>

<html class="js no-flexbox flexbox-legacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type">
        <meta charset="utf-8">

        <title>Cars - Wingtip Toys</title>
        
        <!-- Specify CSS -->
        @Styles.Render("~/Content")

        <!-- Specify 3rd party library scripts -->
        @Scripts.Render("~/Scripts/ThirdParty")

        <!-- Specify backbone templates -->
        @Html.Partial("ProductTemplate")

        <!-- Specify backbone models -->
        @Scripts.Render("~/Models")

        <!-- Specify our own scripts -->
        @Scripts.Render("~/Scripts/Core")
        
        <!-- Define page specific scripts -->
        <script type="text/javascript">
            $(function () {
                // When the page first loads, show all cars
                var products = wingtiptoys.fetchProducts('Cars'),
                    productListView = new wingtiptoys.ProductListView({ model: products });

                productListView.render();

                // Set up the search box
                $('#search').on('input search', function () {
                    var searchKeywords = $(this).val();
                    wingtiptoys.search.searchProducts('Cars', searchKeywords);
                });
            });
        </script>
    </head>

    <body>        
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="/" id="A2">
                            <img id="Logo" src="@Url.Content("~/Images/logo.jpg")" style="border-style: None;">
                        </a>
                    </p>
                </div>
            </div>
        </header>

        <div id="body">
            <section class="featured">
                <div class="content-wrapper">
                    <hgroup class="title">
                        <h1>Products</h1>
                    </hgroup>

                    <section class="featured">
                        <div style="margin-left: 2em">
                            <!-- I really wouldn't use a table here, but I'm not going to mess with the layout for this exercise. -->
                            <table>
                                <tr>
                                    <td style="width: 30%; vertical-align: top;">
                                        <hgroup class="title">
                                            <h1>Wingtip Toys</h1>
                                            <h2>Wingtip Toys can help you find the perfect gift</h2>
                                        </hgroup>
                                        <p>
                                            We're all about transportation toys. You can order 
                                            any of our toys today. Each toy listing has detailed 
                                            information to help you choose the right toy.
                                        </p>
                                    </td>
                                    <td>
                                        <table class="products">
                                            <tbody >
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width: 30%; vertical-align: top;">
                                        <input type="search" placeholder="search for a product" id="search" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </div>
            </section>

            <section class="content-wrapper main-content clear-fix"></section>
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>OrderDynamics Coding Exercise</p>
                </div>
            </div>
        </footer>        
    </body>
</html>